@page
@model M_chat.Pages.Ninio.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ninio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ninio.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ninio.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ninio.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ninio.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ninio.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ninio.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ninio.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ninio.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ninio.ClaveEscuela)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ninio.ClaveEscuela)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ninio.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ninio.Apellidos)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Ninio.Curp" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
