@page
@model M_chat.Pages.Ninio.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Niño</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ninio.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ninio.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ninio.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ninio.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ninio.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ninio.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ninio.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ninio.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ninio.ClaveEscuela)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ninio.ClaveEscuela)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ninio.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ninio.Apellidos)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-curp="@Model.Ninio.Curp">Editar</a> |
    <a asp-page="../InicioUsuario" asp-route-email="@Model.Ninio.Email">Volver al inicio</a>
</div>
